<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <h1 class="text-center display-2">{{book.bookname}}</h1>
    {% for i in object_list%}
    <p>Name: {{i.name}}</p>
    <p>Number: {{i.phone}}</p>
    ___________________________________
    {%empty%}
    No contacts found <br> Add contacts
    {%endfor %}
</body>
</html>